<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253919183325-pcj2hbamps035m0c2nannsdf5allb4fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253919183325-pcj2hbamps035m0c2nannsdf5allb4fu</string>
	<key>API_KEY</key>
	<string>AIzaSyCZh5D9SwsqYVD_1KBS4kBGWJO5cBkXlVU</string>
	<key>GCM_SENDER_ID</key>
	<string>253919183325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>grey-shade-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>grey-shade-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253919183325:ios:6a28e0aad78457bb1e7634</string>
</dict>
</plist>